@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --obsidian: #09090B;
    --card: #18181B;
    --elevated: #1E1926;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-md bg-black/40 border border-zinc-800;
  }
  
  .neon-glow {
    box-shadow: 0 0 20px rgba(99, 102, 241, 0.1);
  }
}
